.prose {
  color: #374151;
  font-size: 0.875rem;
  line-height: 1.625;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  font-weight: 600;
  color: #111827;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.prose p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.prose ul,
.prose ol {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-left: 1.25rem;
}

.prose ul li {
  list-style-type: disc;
}

.prose ol li {
  list-style-type: decimal;
}

.prose ol li li {
  list-style-type: lower-alpha;
}

.prose strong,
.prose b {
  color: #111827;
  font-weight: 600;
}

.prose code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  background-color: #f3f4f6;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
}

.prose pre {
  background-color: #f3f4f6;
  padding: 0.5rem;
  border-radius: 0.25rem;
  overflow-x: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.prose pre code {
  background-color: transparent;
  padding: 0;
}

.prose blockquote {
  border-left-width: 4px;
  border-left-color: #d1d5db;
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #4b5563;
}

.prose hr {
  border-top-width: 1px;
  border-color: #d1d5db;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
